{% extends 'base.html' %}

{% block content %}
{{super()}}
<div class="page-header" style="text-align:center; background-color:orange">
    <h1>Fine Blog</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="Jumbotron">
                <div class="card">
                    <h2>Education</h2>
                    <h3>The most interesting experince in the world is to get involved by practically doing all you think that is possible.</h3>
                    <h5>By: Facts O</h5>
                    <a href="#" class="btn btn-secondary -center">View</a>
                </div>
                <div class="card">
                    <h2>Nature</h2>
                    <h3>The attracting scenaries in the world is to have leisure in enjoying watching wildlife, discoveries and folloeing up with great intervensions.</h3>
                    <h5>By: Max Y</h5>
                    <a href="#" class="btn btn-secondary -center">View</a>
                </div><br>
                <div class="container" style="padding-bottom: 20px;">
                    <a href="#" class="btn btn-success">Add post</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well well-lg">
                <h2>Post Titles</h2>
                <p>Education</p>
                <p>Nature</p>
                <p>Farming</p>
                <p>etc</p>
                <a href="#" class="btn btn-secondary -center">Search</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="row">
            <div class="col-md-12">
                <p>{{quote.quote}}</p>
                <p>{{quote.author}}</p>
                <a href="{{quote.permalink}}">view</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}