{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf%}

{% block content %}
<div class="container">
    <h4>Add post</h4>
<div class="row">
<div class="col-md-2"> </div>
<div class="col-md-8">

    {{wtf.quick_form(form)}}

</div>
<div class="col-md-2"></div>
</div>
<div class="col-md-3"></div>
<div class="col-md-6">
    <p>Comments</p>
    <br>
    {% if current_user.is_authenticated %}
        {{ wtf.quick_form(comment_form) }}
    {%endif%}
</div>
<div class="col-md-3"></div>
</div>

{% endblock%}